$coral-color: lightcoral;
$light-pink-color-100: rgb(252, 223, 217);
$light-pink-color-200: #f9f7f7;
$grey-color: #ddd;
$grey-color-2: #bbbbbb;

$date-color: $grey-color-2;
$dark-brown: rgb(71, 30, 0);