@import "./colors.scss";
@import "./variables.scss";
@import "./mixins.scss";

.h2Title {
	display: block;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 2px 0;
	width: auto;
	height: 24px;
	// margin-bottom: 0;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;

	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 20px;
}
